
<div class="container mt-1 mt-sm-5 mb-1 mb-sm-5 " role="application">
  <div class="row justify-content-center p-3 p-sm-0">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 bg-white rounded border p-3 p-sm-5 pb-sm-3">
      <!-- Título principal -->
      <h1 class="text-center" id="app-title">{{ title }}</h1>

      <!-- Barra de navegación con pestañas -->
      <ul class="main-nav nav mt-3 flex-nowrap" role="tablist">
        <!-- Pestaña Tiempo -->
        <li class="nav-item w-100">
          <a class="main-nav-link nav-link btn btn-dark border" id="cityWeather-button" [class.active]="activeTab === 'cityWeather'" tabindex="0" role="tab" aria-controls="cityWeather" aria-selected="true" (click)="setActiveTab('cityWeather')">Tiempo</a>
        </li>
        <!-- Pestaña Ciudades -->
        <li class="nav-item w-100">
          <a class="nav-link btn btn-dark border" id="cityList-button"  tabindex="0" role="tab" aria-controls="cityList" aria-selected="false" [class.active]="activeTab === 'cityList'" (click)="setActiveTab('cityList')">Ciudades</a>
        </li>
      </ul>

      <!-- Contenido de las pestañas -->
      <main class="main-content tab-content mt-3">
        <!-- Contenido Tiempo -->
        <section class="tab-pane active" id="cityWeather" role="tabpanel" aria-labelledby="app-title"> 
          <app-city-weather (saveDataEvent)="onSaveDataEvent($event)"></app-city-weather>
        </section>
        <!-- Contenido Ciudades (inicialmente oculto) -->
        <section class="tab-pane" style="display:none;" id="cityList" role="tabpanel" aria-labelledby="app-title" aria-hidden="true">
          <app-city-list></app-city-list>
        </section>
      </main>
    </div>
  </div>
</div>